# change between production and development as needed
NODE_ENV=production
PORT=3000

## uncomment a block and replace example values with your
## database server and login credentials

## sqlite example
# DB_ENGINE=sqlite
# DB_PATH=./sqlite.db

## mysql example
# DB_ENGINE=mysql
# DB_HOST=172.23.100.229
# DB_USER=asc-connect
# DB_PASSWORD=Th3@griW@y
# DB_DATABASE=internalagriweb
# DB_PORT=3306

## postgres example
# DB_ENGINE=postgres
# DB_HOST=pellefant.db.elephantsql.com
# DB_USER=dbUsername556
# DB_PASSWORD=dbpassword1234
# DB_DATABASE=db_schema
# DB_PORT=5432
